<%- include('partials/header.html') %>
<!DOCTYPE html>
    <section>
        <!-- <a class="xxx">
            <img src="autor.png" width="96px" height="96px">
        </a> -->

        <div class="introduction">
            <h2>Sobre a Pesquisa</h2>

            <p>
                Durante o segundo bimestre no Colégio da Polícia Militar Cruz Azul (Unidade Sorocaba), foi dirigida um
                trabalho para os alunos do segundo ano do médio,
                que estavam cursando a disciplina de observatório de fênomenos biólogicos, no itinerário de exatas. O
                trabalho constitua em os alunos, 15 ao total, se dividirem
                em grupos de 3 integrantes cada um, com o intuito de realizar pesquisas científicas sobre um assunto não
                determinado. O tema foi livre para todos os grupos, deixando
                assim livre para a criatividade de cada um deles. O teor da pesquisa também foi deixado de acordo com a
                preferência do grupo, podendo ser uma pesquisa baseada em uma experiência,
                ou uma pesquisa baseada em contagem de dados, porém teria de ser realizadas por nós mesmos.
            </p>
        </div>
    </section>
    <section class="foto">
        <img src="../public/images/autor.png" width="30%" height="30%">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien magna, congue vel quam vel,
            hendrerit consectetur mi. Sed a scelerisque est. Quisque ut sodales risus, sed dignissim nibh. Curabitur
            laoreet bibendum tortor eu faucibus. Integer suscipit scelerisque enim ut ultricies. Duis vitae ex
            nulla. Nunc malesuada mi non ligula ullamcorper, id posuere ex ultrices. In ultricies lectus sed urna
            egestas, vulputate malesuada tortor porttitor. Vestibulum eleifend rutrum metus sit amet vulputate. Cras
            id libero sit amet nibh faucibus egestas eget eget enim. In condimentum sed velit nec aliquet. Sed ac
            libero erat.
        </p>
    </section>


    <section class="artigos">
        <div class="model">
            <h2>Artigo 1</h2>
            <a><img src="../public/images/thumb.png" width="200px" height="247px"></a>
            <p><a href="/?busca=atg">Clique aqui para ler</a></p>
        </div>
        <div class="model">
            <h2>Artigo 2</h2>
            <a><img src="../public/images/thumb.png" width="200px" height="247px"></a>
            <p><a href="/?busca=atg2">Clique aqui para ler</a></p>
        </div>
        <div class="model">
            <h2>Artigo 3</h2>
            <a><img src="../public/images/thumb.png" width="200px" height="247px"></a>
            <p><a href="/?busca=atg3">Clique aqui para ler</a></p>
        </div>

    </section>

    <%- include('partials/footer.html') %>
</body>

</html>